{% set title = "Главная" %}

{% extends "layouts/_default.html" %}

{% block content %}

<!-- Slider-main -->
<section class="slider-main js-slider-main-init">
    <div class="slider-main__body container">
        <div class="slider-main__outer">
            <div class="slider-main__swiper-container swiper-container js-slider-main">
                <div class="slider-main__swiper-wrapper swiper-wrapper">
                    
                    <div class="slider-main__swiper-slide swiper-slide">
                        <div class="slider-main__slide-card">
                            <div class="slider-main__slide-info">
                                <h2 class="slider-main__slide-title title title--huge title--black title--w-extra-bold">
                                    Волонтёрам
                                </h2>
                                <div class="slider-main__slide-descr text text--large text--black text--w-light">
                                    Сделай мир лучше, вместе с нами
                                </div>
                                <a href="javascript:;" class="slider-main__button button button--primary" data-modal="feedback">
                                    Присоединяйся
                                </a>
                            </div>
                            <div class="slider-main__slide-pic">
                                <img src="img/slider-main/slide-1.svg" alt="" class="slider-main__slide-img">
                            </div>
                        </div>
                    </div>
                    <div class="slider-main__swiper-slide swiper-slide">
                        <div class="slider-main__slide-card">
                            <div class="slider-main__slide-info">
                                <h2 class="slider-main__slide-title title title--huge title--black title--w-extra-bold">
                                    Волонтёрам
                                </h2>
                                <div class="slider-main__slide-descr text text--large text--black text--w-light">
                                    Сделай мир лучше, вместе с нами
                                </div>
                                <a href="javascript:;" class="slider-main__button button button--primary" data-modal="feedback">
                                    Присоединяйся
                                </a>
                            </div>
                            <div class="slider-main__slide-pic">
                                <img src="img/slider-main/slide-1.svg" alt="" class="slider-main__slide-img">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="slider-main__pagination swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
<!-- /. Slider-main -->

<!-- About -->
<section class="about">
    <div class="about__body container-full">
        <div class="about__outer">
            <div class="about__pic">
                <img src="img/main-page/about.svg" alt="" class="about__img">
            </div>
            <div class="about__description wysiwyg">
                <p>
                    ECOfriends - проект, в котором тебе просто и доступно расскажут об экологичном образе жизни, раздельном сборе отходов. Мы поможем тебе реализовать твой проект в сфере ЦУР и ESG.
                </p>
                <p>
                    Команда проекта активно взаимодействует с школами, вузами, органами муниципальной и региональной власти, социально ответственным бизнесом.
                </p>
            </div>
        </div>
    </div>
    <div class="about__decor">
        <img src="img/main-page/wave.svg" alt="" class="about__wave about__wave--desctop">
        <img src="img/main-page/wave-mobile.svg" alt="" class="about__wave about__wave--mobile">
    </div>
</section>
<!-- /. About -->

<!-- Slider-team -->
<section class="slider-team js-slider-team-init">
    <div class="slider-team__body container">
        <h2 class="slider-team__heading title title--big title--blue title--w-extra-bold title--indent center">
            Команда
        </h2>
        <div class="slider-team__outer">
            <div class="slider-team__swiper-container swiper-container js-slider-team">
                <div class="slider-team__swiper-wrapper swiper-wrapper">

                    <div class="slider-team__swiper-slide swiper-slide">
                        <div class="slider-team__card">
                            <div class="slider-team__card-pic">
                                <img src="img/main-page/slide-team-1.jpg" alt="" class="slider-team__card-img">
                            </div>
                            <div class="slider-team__card-title title title--medium title--white title--w-extra-bold center">
                                Анна Савин-Кровякова
                            </div>
                            <div class="slider-team__card-description text text--medium text--white text--w-light center">
                                Автор проекта ECOfriends, SEO, президент Фонда регионального экономического развития "Инвестиции и регионы"
                            </div>
                        </div>
                    </div>
                    <div class="slider-team__swiper-slide swiper-slide">
                        <div class="slider-team__card">
                            <div class="slider-team__card-pic">
                                <img src="img/main-page/slide-team-2.jpg" alt="" class="slider-team__card-img">
                            </div>
                            <div class="slider-team__card-title title title--medium title--white title--w-extra-bold center">
                                Ольга Гайдукова
                            </div>
                            <div class="slider-team__card-description text text--medium text--white text--w-light center">
                                Исполнительный директор Фонда регионального экономического развития "Инвестиции и регионы"
                            </div>
                        </div>
                    </div>
                    <div class="slider-team__swiper-slide swiper-slide">
                        <div class="slider-team__card">
                            <div class="slider-team__card-pic">
                                <img src="img/main-page/slide-team-3.jpg" alt="" class="slider-team__card-img">
                            </div>
                            <div class="slider-team__card-title title title--medium title--white title--w-extra-bold center">
                                Юлия Агальцова
                            </div>
                            <div class="slider-team__card-description text text--medium text--white text--w-light center">
                                Директор по развитию и Pr Фонда регионального экономического развития "Инвестиции и регионы"
                            </div>
                        </div>
                    </div>
                    <div class="slider-team__swiper-slide swiper-slide">
                        <div class="slider-team__card">
                            <div class="slider-team__card-pic">
                                <img src="img/main-page/slide-team-3.jpg" alt="" class="slider-team__card-img">
                            </div>
                            <div class="slider-team__card-title title title--medium title--white title--w-extra-bold center">
                                Полина Кровякова
                            </div>
                            <div class="slider-team__card-description text text--medium text--white text--w-light center">
                                Руководитель проекта ECOfriends
                            </div>
                        </div>
                    </div>
                    <div class="slider-team__swiper-slide swiper-slide">
                        <div class="slider-team__card">
                            <div class="slider-team__card-pic">
                                <img src="img/main-page/slide-team-3.jpg" alt="" class="slider-team__card-img">
                            </div>
                            <div class="slider-team__card-title title title--medium title--white title--w-extra-bold center">
                                Юстина Сафронова
                            </div>
                            <div class="slider-team__card-description text text--medium text--white text--w-light center">
                                Менеджер проекта ECOfriends
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="slider-team__nav">
                <div class="slider-team__swiper-button-prev slider-team__arrow js-slider-team-prev">
                    <svg class="slider-team__slider-arrow-svg" width="34" height="63" viewBox="0 0 34 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M32.5 62L2 31.5L32.5 1" stroke="white" stroke-width="2"/>
                    </svg>
                </div>
                <div class="slider-team__swiper-button-next slider-team__arrow js-slider-team-next">
                    <svg class="slider-team__slider-arrow-svg" width="33" height="63" viewBox="0 0 33 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L31.5 31.5L1 62" stroke="black" stroke-width="2"/>
                    </svg>
                </div>
            </div>
            <div class="slider-team__pagination swiper-pagination"></div>
        </div>
    </div>
    <div class="slider-team__bg">
        <img src="img/main-page/team.svg" alt="" class="slider-team__bg-img">
    </div>
</section>
<!-- /. Slider-team -->

<!-- News-main -->
<section class="news-main">
    <div class="news-main__body container">
        <h2 class="news-main__heading title title--big title--white title--w-extra-bold title--indent center">
            Новости
        </h2>
        <div class="news-main__list">
            <article class="news-main__item">
                <a href="" class="news-main__link">
                    <div class="news-main__pic">
                        <img src="https://lipsum.app/random/1500x800" alt="" class="news-main__img">
                    </div>
                </a>
                <h3 class="news-main__title title title--small title--white title--w-medium">
                    Итоги реализации детского гранта
                </h3>
            </article>
            <article class="news-main__item">
                <a href="" class="news-main__link">
                    <div class="news-main__pic">
                        <img src="https://lipsum.app/random/1500x800" alt="" class="news-main__img">
                    </div>
                </a>
                <h3 class="news-main__title title title--small title--white title--w-medium">
                    Итоги реализации детского гранта
                </h3>
            </article>
        </div>
        <div class="news-main__action center">
            <a href="/news" class="news-main__btn button button--secondary">
                Еще
            </a>
        </div>
    </div>
</section>
<!-- /. News-main -->

<!-- Partners-->
<section class="partners block-padding-small partners--home">
    <div class="partners__body container">
        <div class="partners__logos">
            <div class="partners__logo">
                <img src="img/partners/voir.png" alt="" class="partners__img-logo">
            </div>
            <div class="partners__logo">
                <img src="img/partners/pg.png" alt="" class="partners__img-logo">
            </div>
            <div class="partners__logo">
                <img src="img/partners/owc.png" alt="" class="partners__img-logo">
            </div>
            <div class="partners__logo">
                <img src="img/partners/fcd.png" alt="" class="partners__img-logo">
            </div>
            <div class="partners__logo">
                <img src="img/partners/fcg.png" alt="" class="partners__img-logo">
            </div>
        </div>
    </div>
</section>
<!-- /. Partners-->

{% endblock %}