{% set title = "Новости" %}

{% extends "layouts/_default.html" %}

{% block content %}

<section class="news">
    <div class="news__body container">
        <div class="news__inner">
            <div class="news__left-col">
                <h2 class="news__heading title title--medium title--black title--w-bold title--indent">
                    Новости
                </h2>
                <div class="news__list">
                    <article class="news__item news__item--left">
                        <a href="" class="news__link">
                            <div class="news__pic">
                                <img src="https://lipsum.app/random/1500x800" alt="" class="news__img">
                            </div>
                            <h3 class="news__title title title--small title--white title--w-medium">
                                Итоги реализации детского гранта
                            </h3>
                        </a>
                    </article>
                    <article class="news__item news__item--left">
                        <a href="" class="news__link">
                            <div class="news__pic">
                                <img src="https://lipsum.app/random/1300x900" alt="" class="news__img">
                            </div>
                            <h3 class="news__title title title--small title--white title--w-medium">
                                Российского движения школьников «Огни памяти»
                            </h3>
                        </a>
                    </article>
                    <article class="news__item news__item--left">
                        <a href="" class="news__link">
                            <div class="news__pic">
                                <img src="https://lipsum.app/random/1800x1000" alt="" class="news__img">
                            </div>
                            <h3 class="news__title title title--small title--white title--w-medium">
                                Акция в городе Саратов "Майский школьный Экодвор"
                            </h3>
                        </a>
                    </article>
                </div>
            </div>
            <div class="news__right-col">
                <h2 class="news__heading title title--medium title--black title--w-bold title--indent">
                    Сми о нас
                </h2>
                <div class="news__list">
                    <article class="news__item news__item--right">
                        <div class="news__pic">
                            <img src="https://lipsum.app/random/1500x800" alt="" class="news__img">
                        </div>
                        <div class="new__info">
                            <a href="" class="news__link">
                                <h3 class="news__title title title--small title--black title--w-medium">
                                    Итоги реализации детского гранта
                                </h3>
                            </a>
                            <p class="news__excerpt text text--normal text--black text--w-light">
                                На базе отдыха «Ландыш» 13 -15 ноября прошла смена Российского движения школьников «Огни памяти», в которой приняли участие более 40 школьников со всего региона.
                            </p>
                            <div class="news__date text text--normal text--black text--w-light">
                                19.03.2023
                            </div>
                        </div>
                    </article>
                    <article class="news__item news__item--right">
                        <div class="news__pic">
                            <img src="https://lipsum.app/random/1500x800" alt="" class="news__img">
                        </div>
                        <div class="new__info">
                            <a href="" class="news__link">
                                <h3 class="news__title title title--small title--black title--w-medium">
                                    Российского движения школьников «Огни памяти»
                                </h3>
                            </a>
                            <p class="news__excerpt text text--normal text--black text--w-light">
                                На базе отдыха «Ландыш» 13 -15 ноября прошла смена Российского движения школьников «Огни памяти», в которой приняли участие более 40 школьников со всего региона.
                            </p>
                            <div class="news__date text text--normal text--black text--w-light">
                                19.03.2023
                            </div>
                        </div>
                    </article>
                    <article class="news__item news__item--right">
                        <div class="news__pic">
                            <img src="https://lipsum.app/random/1500x800" alt="" class="news__img">
                        </div>
                        <div class="new__info">
                            <a href="" class="news__link">
                                <h3 class="news__title title title--small title--black title--w-medium">
                                    Акция в городе Саратов "Майский школьный Экодвор"
                                </h3>
                            </a>
                            <p class="news__excerpt text text--normal text--black text--w-light">
                                На базе отдыха «Ландыш» 13 -15 ноября прошла смена Российского движения школьников «Огни памяти», в которой приняли участие более 40 школьников со всего региона.
                            </p>
                            <div class="news__date text text--normal text--black text--w-light">
                                19.03.2023
                            </div>
                        </div>
                    </article>
                    <article class="news__item news__item--right">
                        <div class="news__pic">
                            <img src="https://lipsum.app/random/1500x800" alt="" class="news__img">
                        </div>
                        <div class="new__info">
                            <a href="" class="news__link">
                                <h3 class="news__title title title--small title--black title--w-medium">
                                    Акция в городе Саратов "Майский школьный Экодвор"
                                </h3>
                            </a>
                            <p class="news__excerpt text text--normal text--black text--w-light">
                                На базе отдыха «Ландыш» 13 -15 ноября прошла смена Российского движения школьников «Огни памяти», в которой приняли участие более 40 школьников со всего региона.
                            </p>
                            <div class="news__date text text--normal text--black text--w-light">
                                19.03.2023
                            </div>
                        </div>
                    </article>
                    <article class="news__item news__item--right">
                        <div class="news__pic">
                            <img src="https://lipsum.app/random/1500x800" alt="" class="news__img">
                        </div>
                        <div class="new__info">
                            <a href="" class="news__link">
                                <h3 class="news__title title title--small title--black title--w-medium">
                                    Акция в городе Саратов "Майский школьный Экодвор"
                                </h3>
                            </a>
                            <p class="news__excerpt text text--normal text--black text--w-light">
                                На базе отдыха «Ландыш» 13 -15 ноября прошла смена Российского движения школьников «Огни памяти», в которой приняли участие более 40 школьников со всего региона.
                            </p>
                            <div class="news__date text text--normal text--black text--w-light">
                                19.03.2023
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}