{% set title = 'ECOprof' %}
{% set subtitle = 'Будущее экологического предпринимательства за сегодняшними школьниками!' %}
{% set description = 'ECOprof — акселератор по разработке предпринимательских проектов в сфере устойчивого развития. ' %}
{% set image = 'ecoprof.svg' %}

{% set title_wysiwyg = 'Для детей и их родителей' %}
{% set description_wysiwyg = 'Мы формируем экологическую культуру и навыки для разработки проектов, позволяющих сберечь и приумножить природные ресурсы для будущих поколений.' %}

{% set title_invite = 'Присоединяйся к ECOprof' %}

{% extends "layouts/_default.html" %}

{% block content %}

{% include "templates/_top-screen.html" %}
{% include "templates/_plunks.html" %}

<!-- Text-plunk -->
<div class="text-plunk block-padding-small bg--blue">
    <div class="text-plunk__body container">
        <div class="text-plunk__icon center">
            <img src="img/an-pic/text-plunk-icon.svg" alt="" class="text-plunk__img">
        </div>
        <p class="text-plunk__desc text text--large text--white text--w-light center">
            Участники знакомятся с такими понятиями, как социальное <br> предпринимательство, осознанное потребление,
            <br> устойчивое развитие.
        </p>
    </div>
</div>
<!-- /. Text-plunk -->

<!-- Format -->
<section class="format block-padding-small">
    <div class="format__body container">
        <h2 class="format__heading title title--medium title--black title--w-bold title--indent center">
            Формат организации мероприятия
        </h2>
        <div class="format__items">
            <div class="format__item">
                <div class="format__icon">
                    <img src="img/an-pic/format-1.svg" alt="" class="format__img-icon">
                </div>
                <p class="format__text text text--large text--black text--w-light center">
                    Сочетание двух форм взаимодействия:
                </p>
                <div class="format__icon format__icon--root">
                    <img src="img/an-pic/format-root.svg" alt="" class="format__img-icon">
                </div>
                <div class="format__item-cards">
                    <!-- Result-card -->
                    <div class="result-card">
                        <p class="result-card__text text text--normal text--black text--w-light center">
                            Готовый план реализации проекта и его успешная презентация перед менторским советом
                        </p>
                    </div>
                    <!-- /. Result-card -->
                    <!-- Result-card -->
                    <div class="result-card">
                        <p class="result-card__text text text--normal text--black text--w-light center">
                            Приобретение навыков в сфере экологического предпринимательства
                        </p>
                    </div>
                    <!-- /. Result-card -->
                </div>
            </div>
            <div class="format__item">
                <div class="format__icon">
                    <img src="img/an-pic/format-2.svg" alt="" class="format__img-icon">
                </div>
                <p class="format__text text text--large text--black text--w-light center">
                    Команды сформированы из учащихся общеобразовательных учреждений Саратовской области с 6 по 11 класс.
                </p>
            </div>
            <div class="format__item">
                <div class="format__icon">
                    <img src="img/an-pic/format-3.svg" alt="" class="format__img-icon">
                </div>
                <p class="format__text text text--large text--black text--w-light center">
                    Наставники в командах – студенты ВУЗов
                </p>
            </div>
        </div>
    </div>
</section>
<!-- /. Format -->

<!-- Result -->
<section class="result block-padding-small">
    <div class="result__body container">
        <h2 class="result__heading title title--medium title--black title--w-bold title--indent center">
            Результаты участия в проекте
        </h2>
        <div class="result__cards">
            <!-- Result-card -->
            <div class="result-card">
                <p class="result-card__text text text--normal text--black text--w-light center">
                    Готовый план реализации проекта и его успешная презентация перед менторским советом
                </p>
            </div>
            <!-- /. Result-card -->
            <!-- Result-card -->
            <div class="result-card">
                <p class="result-card__text text text--normal text--black text--w-light center">
                    Приобретение навыков в сфере экологического предпринимательства
                </p>
            </div>
            <!-- /. Result-card -->
            <!-- Result-card -->
            <div class="result-card">
                <p class="result-card__text text text--normal text--black text--w-light center">
                    Поддержка проекта на дальнейших этапах
                </p>
            </div>
            <!-- /. Result-card -->
            <!-- Result-card -->
            <div class="result-card">
                <p class="result-card__text text text--normal text--black text--w-light center">
                    Диплом и сертификат о прохождении программы
                </p>
            </div>
            <!-- /. Result-card -->
            <!-- Result-card -->
            <div class="result-card">
                <p class="result-card__text text text--normal text--black text--w-light center">
                    Призы и подарки от партнеров проекта
                </p>
            </div>
            <!-- /. Result-card -->
            <!-- Result-card -->
            <div class="result-card">
                <p class="result-card__text text text--normal text--black text--w-light center">
                    Причастность к сообществу единомышленников
                </p>
            </div>
            <!-- /. Result-card -->
        </div>
    </div>
</section>
<!-- /. Result-->

{% include "templates/_invite.html" %}

<!-- Partners-->
<section class="partners block-padding-small">
    <div class="partners__body container">
        <h2 class="partners__heading title title--medium title--black title--w-bold title--indent center">
            Наши партнёры
        </h2>
        <div class="partners__outer">
            <img src="img/an-pic/root-partners.svg" alt="" class="partners__root center">
            <div class="partners__cards">
                <!-- Result-card -->
                <div class="result-card">
                    <p class="result-card__text text text--normal text--black text--w-light center">
                        Органы государственной и муниципальной власти, образовательные организации 
                    </p>
                </div>
                <!-- /. Result-card -->
                <!-- Result-card -->
                <div class="result-card">
                    <p class="result-card__text text text--normal text--black text--w-light center">
                        Региональные  операторы по обращению с коммунальными отходами
                    </p>
                </div>
                <!-- /. Result-card -->
                <!-- Result-card -->
                <div class="result-card">
                    <p class="result-card__text text text--normal text--black text--w-light center">
                        Социально ориентированный бизнес
                    </p>
                </div>
                <!-- /. Result-card -->
            </div>
        </div>
        <div class="partners__logos">
            <div class="partners__logo">
                <img src="img/partners/voir.png" alt="" class="partners__img-logo">
            </div>
            <div class="partners__logo">
                <img src="img/partners/pg.png" alt="" class="partners__img-logo">
            </div>
            <div class="partners__logo">
                <img src="img/partners/owc.png" alt="" class="partners__img-logo">
            </div>
            <div class="partners__logo">
                <img src="img/partners/fcd.png" alt="" class="partners__img-logo">
            </div>
            <div class="partners__logo">
                <img src="img/partners/fcg.png" alt="" class="partners__img-logo">
            </div>
        </div>
    </div>
</section>
<!-- /. Partners-->

<!-- Steps -->
<section class="steps block-padding-small">
    <div class="steps__body container">
        <h2 class="steps__heading title title--medium title--black title--w-bold title--indent center">
            ECOprof для вашей компании это:
        </h2>
        <div class="steps__items">
            <div class="steps__item">
                <div class="steps__num">
                    1
                </div>
                <p class="steps__text text text--normal text--black text--w-light center">
                    Быть проводником устойчивого развития — ваше репутационное преимущество
                </p>
            </div>
            <div class="steps__item">
                <div class="steps__num">
                    2
                </div>
                <p class="steps__text text text--normal text--black text--w-light center">
                    Развитие в сфере корпоративного социального партнерства — международный знак качества
                </p>
            </div>
            <div class="steps__item">
                <div class="steps__num">
                    3
                </div>
                <p class="steps__text text text--normal text--black text--w-light center">
                    Нестандартное решение задач в области корпоративной социальной ответственности
                </p>
            </div>
            <div class="steps__item">
                <div class="steps__num">
                    4
                </div>
                <p class="steps__text text text--normal text--black text--w-light center">
                    Экостратегия — инструмент продвижения имиджа организации и фактор роста лояльности к компании
                </p>
            </div>
        </div>
        <div class="steps__action center">
            <div class="steps__btn button button--primary">
                Стать партнёром
            </div>
        </div>
    </div>
</section>
<!-- /. Steps -->

{% include "templates/_another.html" %}

{% endblock %}