{% set title = 'Внедрение РСО' %}
{% set subtitle = 'Что-то тут нужно написать...' %}
{% set description = 'Наша команда комплексно внедряет систему раздельного сбора отходов на территориях учебных заведений и офисов.' %}
{% set image = 'rso.svg' %}

{% set title_invite = 'Хочешь к нам в команду?' %}

{% extends "layouts/_default.html" %}

{% block content %}

{% include "templates/_top-screen.html" %}

<!-- Plunks -->
<section class="plunks block-padding-small">
    <div class="plunks__body container">
        <h2 class="plunks__heading title title--medium title--black title--w-bold title--indent center">
            Для учебных заведений
        </h2>
        <!-- Wysiwyg -->
        <div class="plunks__wysiwyg wysiwyg center">
            <p>
                В 2022 году при поддержке Фонда президентских грантов мы установили трехсекционные урны и металлические сетки для раздельного сбора отходов в 8 школах Саратова. Наши партнеры организовали вывоз пластика, макулатуры, металла.
            </p>
            <p>
                Для того чтобы система работала на практике, мы проводим курс ЭКОуроков по раздельному сбору отходов и учим школьников правильно сортировать отходы, которые образуются в процессе обучения. Наш опыт показал, что учащиеся начинают внедрять сортировку отходов и дома, передают знания своим родителям и знакомым!
            </p>
        </div>
        <!-- /. Wysiwyg -->
        {% if(title == 'ЭКОклуб') %}
        <div class="plunks__items">
            <!-- Plunk -->
            <article class="plunk">
                <div class="plunk__icon">
                    <img src="img/plunks/plunk-1.svg" alt="" class="plunk__img-icon">
                </div>
                <p class="plunk__text text text--normal text--black text--w-light center">
                    Экскурсии на мусороперерабатывающие комплексы и предприятия
                </p>
            </article>
            <!-- /. Plunk -->
            <!-- Plunk -->
            <article class="plunk">
                <div class="plunk__icon">
                    <img src="img/plunks/plunk-2.svg" alt="" class="plunk__img-icon">
                </div>
                <p class="plunk__text text text--normal text--black text--w-light center">
                    Посещение тематических выставок
                </p>
            </article>
            <!-- /. Plunk -->
            <!-- Plunk -->
            <article class="plunk">
                <div class="plunk__icon">
                    <img src="img/plunks/plunk-3.svg" alt="" class="plunk__img-icon">
                </div>
                <p class="plunk__text text text--normal text--black text--w-light center">
                    Участие в конференциях и форумах по всей России
                </p>
            </article>
            <!-- /. Plunk -->
            <!-- Plunk -->
            <article class="plunk">
                <div class="plunk__icon">
                    <img src="img/plunks/plunk-4.svg" alt="" class="plunk__img-icon">
                </div>
                <p class="plunk__text text text--normal text--black text--w-light center">
                    Мастер-классы по кастомизации одежды, изготовлению открыток и др.
                </p>
            </article>
            <!-- /. Plunk -->
            <!-- Plunk -->
            <article class="plunk">
                <div class="plunk__icon">
                    <img src="img/plunks/plunk-5.svg" alt="" class="plunk__img-icon">
                </div>
                <p class="plunk__text text text--normal text--black text--w-light center">
                    Обучение по системе наставничества
                </p>
            </article>
            <!-- /. Plunk -->
        </div>
        {% endif %}
    </div>
</section>
<!-- /. Plunks-->

<!-- Plunks -->
<section class="plunks block-padding-small bg--light-blue">
    <div class="plunks__body container">
        <h2 class="plunks__heading title title--medium title--black title--w-bold title--indent center">
            Курс ЭКОуроков включает в себя 4 основные темы:
        </h2>
        <div class="plunks__items">
            <!-- Plunk -->
            <article class="plunk">
                <div class="plunk__icon">
                    <img src="img/plunks/plunk-rso-1.svg" alt="" class="plunk__img-icon">
                </div>
                <p class="plunk__text text text--normal text--black text--w-light center">
                    Проведение уроков
                </p>
            </article>
            <!-- /. Plunk -->
            <!-- Plunk -->
            <article class="plunk">
                <div class="plunk__icon">
                    <img src="img/plunks/plunk-rso-2.svg" alt="" class="plunk__img-icon">
                </div>
                <p class="plunk__text text text--normal text--black text--w-light center">
                    Установка урн и сеток на территории образовательного учреждения
                </p>
            </article>
            <!-- /. Plunk -->
            <!-- Plunk -->
            <article class="plunk">
                <div class="plunk__icon">
                    <img src="img/plunks/plunk-rso-3.svg" alt="" class="plunk__img-icon">
                </div>
                <p class="plunk__text text text--normal text--black text--w-light center">
                    Размещение информационных табличек
                </p>
            </article>
            <!-- /. Plunk -->
            <!-- Plunk -->
            <article class="plunk">
                <div class="plunk__icon">
                    <img src="img/plunks/plunk-rso-4.svg" alt="" class="plunk__img-icon">
                </div>
                <p class="plunk__text text text--normal text--black text--w-light center">
                    Заключение договора на вывоз отходов нашими партнерами
                </p>
            </article>
            <!-- /. Plunk -->
        </div>
        <div class="plunks__action center">
            <a href="javascript:;" class="plunks__btn button button--primary button--small" data-modal="#feedback">
                Оставить заявку
            </a>
        </div>
    </div>
</section>
<!-- /. Plunks-->

<!-- Plunks -->
<section class="plunks block-padding-small">
    <div class="plunks__body container">
        <h2 class="plunks__heading title title--medium title--black title--w-bold title--indent center">
            Для бизнеса
        </h2>
        <!-- Wysiwyg -->
        <div class="plunks__wysiwyg wysiwyg center">
            <p>
                ЭКОофис – часть корпоративной политики, основанной на социальной и экологической ответственности.
            </p>
        </div>
        <!-- /. Wysiwyg -->
    </div>
</section>
<!-- /. Plunks-->

<!-- Plunks -->
<section class="plunks block-padding-small bg--light-blue">
    <div class="plunks__body container">
        <h2 class="plunks__heading title title--medium title--black title--w-bold title--indent center">
            Наша команда готова помочь:
        </h2>
        <!-- Wysiwyg -->
        <div class="plunks__wysiwyg wysiwyg center">
            <ul>
                <li>
                    Создать более благоприятную среду для трудовой деятельности в компании и снизить ее негативное влияние на окружающую среду
                </li>
                <li>
                    Провести лекции для сотрудников офиса
                </li>
                <li>
                    Провести лекции для сотрудников офиса
                </li>
                <li>
                    Организовать вывоз сортированных отходов
                </li>
            </ul>
            <br><br><br><br>
            <p>
                Вы получаете:
            </p>
            <br>
        </div>
        <!-- /. Wysiwyg -->
        <!-- Slider-cards -->
        <section class="slider-cards js-slider-cards-init">
            <div class="slider-cards__body">
                <div class="slider-cards__outer js-slider-cards-outer">
                    <div class="slider-cards__swiper-container swiper-container js-slider-cards">
                        <div class="slider-cards__swiper-wrapper swiper-wrapper">

                            <div class="slider-cards__swiper-slide swiper-slide">
                                <article class="plunk">
                                    <div class="plunk__icon">
                                        <img src="img/plunks/plunk-rso-h-1.svg" alt="" class="plunk__img-icon">
                                    </div>
                                    <p class="plunk__text text text--normal text--black text--w-light center">
                                        Курс лекций
                                    </p>
                                </article>
                            </div>
                            <div class="slider-cards__swiper-slide swiper-slide">
                                <article class="plunk">
                                    <div class="plunk__icon">
                                        <img src="img/plunks/plunk-rso-h-2.svg" alt="" class="plunk__img-icon">
                                    </div>
                                    <p class="plunk__text text text--normal text--black text--w-light center">
                                        Корпоративную рассылку с материалами для закрепления теории
                                    </p>
                                </article>
                            </div>
                            <div class="slider-cards__swiper-slide swiper-slide">
                                <article class="plunk">
                                    <div class="plunk__icon">
                                        <img src="img/plunks/plunk-rso-h-3.svg" alt="" class="plunk__img-icon">
                                    </div>
                                    <p class="plunk__text text text--normal text--black text--w-light center">
                                        Установку урн на территории офиса
                                    </p>
                                </article>
                            </div>
                            <div class="slider-cards__swiper-slide swiper-slide">
                                <article class="plunk">
                                    <div class="plunk__icon">
                                        <img src="img/plunks/plunk-rso-h-4.svg" alt="" class="plunk__img-icon">
                                    </div>
                                    <p class="plunk__text text text--normal text--black text--w-light center">
                                        Разбор кейсов по вашему направлению
                                    </p>
                                </article>
                            </div>
                            <div class="slider-cards__swiper-slide swiper-slide">
                                <article class="plunk">
                                    <div class="plunk__icon">
                                        <img src="img/plunks/plunk-rso-h-5.svg" alt="" class="plunk__img-icon">
                                    </div>
                                    <p class="plunk__text text text--normal text--black text--w-light center">
                                        Вывоз сортированных отходов нашими партнерами
                                    </p>
                                </article>
                            </div>

                        </div>
                    </div>
                    <div class="slider-cards__nav slider-nav">
                        <div class="slider-cards__swiper-button-prev slider-cards__slider-arrow js-slider-cards-prev slider-nav__arrow slider-nav__arrow--prev">
                            <svg class="slider-cards__slider-arrow-svg slider-nav__arrow-svg" width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 1L1.82588 4.75671C1.3845 5.15395 1.3845 5.84605 1.82588 6.24329L6 10" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </div>
                        <div class="slider-cards__swiper-button-next slider-cards__slider-arrow js-slider-cards-next slider-nav__arrow slider-nav__arrow--next">
                            <svg class="slider-cards__slider-arrow-svg slider-nav__arrow-svg" width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L5.17412 4.75671C5.6155 5.15395 5.6155 5.84605 5.17412 6.24329L1 10" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /. Slider-cards -->
    </div>
</section>
<!-- /. Plunks-->

{% include "templates/_invite.html" %}

{% include "templates/_another.html" %}

{% endblock %}