{% set title = 'ЭКОклуб' %}
{% set subtitle = 'Бесплатный клуб экологических встреч' %}
{% set description = 'Реализуйте свои навыки, воплощайте идеи и узнавайте новое!' %}
{% set image = 'eco-club.svg' %}

{% set title_invite = 'Хочешь к нам в команду?' %}

{% extends "layouts/_default.html" %}

{% block content %}

{% include "templates/_top-screen.html" %}

<!-- Plunks -->
<section class="plunks block-padding-small">
    <div class="plunks__body container">
        <h2 class="plunks__heading title title--medium title--black title--w-bold title--indent center">
            Активности ЭКОклуб
        </h2>
        <!-- Wysiwyg -->
        <div class="plunks__wysiwyg wysiwyg center">
            <p>
                Участие во всех мероприятиях ECOclub бесплатное!
            </p>
        </div>
        <!-- /. Wysiwyg -->
        <!-- Slider-cards -->
        <section class="slider-cards js-slider-cards-init block-padding-small">
            <div class="slider-cards__body">
                <div class="slider-cards__outer js-slider-cards-outer">
                    <div class="slider-cards__swiper-container swiper-container js-slider-cards">
                        <div class="slider-cards__swiper-wrapper swiper-wrapper">

                            <div class="slider-cards__swiper-slide swiper-slide">
                                <article class="plunk">
                                    <div class="plunk__icon">
                                        <img src="img/plunks/plunk-1.svg" alt="" class="plunk__img-icon">
                                    </div>
                                    <p class="plunk__text text text--normal text--black text--w-light center">
                                        Индивидуальный подход (программа строится исходя из вашего запроса и возраста участников)
                                    </p>
                                </article>
                            </div>
                            <div class="slider-cards__swiper-slide swiper-slide">
                                <article class="plunk">
                                    <div class="plunk__icon">
                                        <img src="img/plunks/plunk-2.svg" alt="" class="plunk__img-icon">
                                    </div>
                                    <p class="plunk__text text text--normal text--black text--w-light center">
                                        Квалифицированные специалисты (эксперты проекта, предприниматели, опытные эко-волонтеры)
                                    </p>
                                </article>
                            </div>
                            <div class="slider-cards__swiper-slide swiper-slide">
                                <article class="plunk">
                                    <div class="plunk__icon">
                                        <img src="img/plunks/plunk-3.svg" alt="" class="plunk__img-icon">
                                    </div>
                                    <p class="plunk__text text text--normal text--black text--w-light center">
                                        Интерактивный подход (обучающие материалы и игры, видеоролики)
                                    </p>
                                </article>
                            </div>
                            <div class="slider-cards__swiper-slide swiper-slide">
                                <article class="plunk">
                                    <div class="plunk__icon">
                                        <img src="img/plunks/plunk-4.svg" alt="" class="plunk__img-icon">
                                    </div>
                                    <p class="plunk__text text text--normal text--black text--w-light center">
                                        Мобильность (выезды в школу/садик/университет и на другие площадки)
                                    </p>
                                </article>
                            </div>
                            <div class="slider-cards__swiper-slide swiper-slide">
                                <article class="plunk">
                                    <div class="plunk__icon">
                                        <img src="img/plunks/plunk-5.svg" alt="" class="plunk__img-icon">
                                    </div>
                                    <p class="plunk__text text text--normal text--black text--w-light center">
                                        Нестандартный формат занятий (в теплое время года уроки проводятся на свежем воздухе)
                                    </p>
                                </article>
                            </div>

                        </div>
                    </div>
                    <div class="slider-cards__nav slider-nav">
                        <div class="slider-cards__swiper-button-prev slider-cards__slider-arrow js-slider-cards-prev slider-nav__arrow slider-nav__arrow--prev">
                            <svg class="slider-cards__slider-arrow-svg slider-nav__arrow-svg" width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 1L1.82588 4.75671C1.3845 5.15395 1.3845 5.84605 1.82588 6.24329L6 10" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </div>
                        <div class="slider-cards__swiper-button-next slider-cards__slider-arrow js-slider-cards-next slider-nav__arrow slider-nav__arrow--next">
                            <svg class="slider-cards__slider-arrow-svg slider-nav__arrow-svg" width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L5.17412 4.75671C5.6155 5.15395 5.6155 5.84605 5.17412 6.24329L1 10" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /. Slider-cards -->
    </div>
</section>
<!-- /. Plunks-->

{% include "templates/_calendar.html" %}
{% include "templates/_another.html" %}
{% include "templates/_invite.html" %}

{% endblock %}