{% set title = 'ЭКОклуб' %}
{% set subtitle = 'Бесплатный клуб экологических встреч' %}
{% set description = 'Реализуйте свои навыки, воплощайте идеи и узнавайте новое!' %}
{% set image = 'eco-club.svg' %}

{% set title_wysiwyg = 'Активности ЭКОклуб' %}
{% set description_wysiwyg = 'Участие во всех мероприятиях ECOclub бесплатное!' %}

{% set title_invite = 'Хочешь к нам в команду?' %}

{% extends "layouts/_default.html" %}

{% block content %}

{% include "templates/_top-screen.html" %}
{% include "templates/_plunks.html" %}
{% include "templates/_calendar.html" %}
{% include "templates/_another.html" %}
{% include "templates/_invite.html" %}

{% endblock %}