{% set title = "Детальная новость" %}

{% extends "layouts/_default.html" %}

{% block content %}

<!-- Post -->
<section class="post block-padding">
    <article class="post__body container">
        <header class="poct__header">
            <div class="post__info">
                <h1 class="post__title title title--large title--black title--w-bold title--indent center">
                    Детальная новость
                </h1>
            </div>
        </header>
        <div class="post__content wysiwyg">
            <p>Логотип — один из ключевых элементов для бренда. Его создают не только для бизнеса и компаний, но и для семьи, персональных нужд, для блогера или знаменитости.</p>
            <p>К нам обратился заказчик, с готовым вариантом логотипа в виде золотого украшения, который нужно было обновить и сделать современнее, разработать готовый макет для печати.</p>
            <p>Было разработано несколько эскизов как идентичных изделию, так и концептуально новых. Утвердили формат композиции (горизонтальный), тип композиции (динамичная), определен композиционный центр.</p>
            <p>Если вам понравилась работа, вы можете оставить заявку, чтобы <a href="https://fcdigital.ru/dizajn/sozdanie-logotipa/">заказать логотип</a>.</p>
        </div>
    </article>
</section>
<!-- /. Post-->

{% endblock %}