<!-- Header -->
<header class="header">
    <div class="header__body container">
        <div class="header__outer">
            <a href="./" class="header__logo logo">
                <img src="img/logo.svg" alt="" class="header__logo-img logo__img">
            </a>
            <div class="header__inner js-menu">
                <nav class="header__menu menu">
                    <ul class="header__menu-list menu__list">
                        <li class="header__menu-item menu__item">
                            <a href="./" class="menu__link">
                                Услуги
                            </a>
                        </li>
                        <li class="header__menu-item menu__item">
                            <a href="" class="menu__link">
                                Волонтёрам
                            </a>
                        </li>
                        <li class="header__menu-item menu__item">
                            <a href="" class="menu__link">
                                Новости
                            </a>
                        </li>
                        <li class="header__menu-item menu__item">
                            <a href="" class="menu__link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <a href="tel:89536383516" class="header__phone text text--medium text--black text--w-light link">
                8 953 638 35 16
            </a>
            <div class="header__burger-menu burger-menu js-burger">
                <span class="burger-menu__line"></span>
            </div>
        </div>
    </div>
</header>
<!-- /. Header -->