/* Containers */

.container {
	@include wrapper();
}

.container-full {
	@include wrapper-full();
}

/* Hide */

.hide {
	display: none !important;
}

.hide-tablet {
	@include tablet(display, none !important);
}

.hide-tabletSM {
	@include tabletSM(display, none !important);
}

.hide-mobile {
	@include mobile(display, none !important);
}

/* Position */

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* Background */

.bg {
    &--white {
        background-color: var(--color-white);
    }
    &--blue {
        background-color: var(--color-blue);
    }
	&--light-blue {
		background-color: var(--color-light-blue);
	}
}

.block-padding {
	padding: 75px 0;
}

.block-padding-large {
	padding: 120px 0 150px;
	@include tablet(padding, 70px 0 100px);
	@include mobile(padding, 50px 0 100px);
}

.block-padding-small {
	padding: 50px 0 50px;
}

/* Links */

.link {
    text-decoration: none;
    transition: ease .3s;
}

.link:hover {
    color: var(--color-blue);
}

/* Title */

.title {
    font-family: var(--font-inter);
    font-style: normal;
    margin: 0;
	&--huge {
		font-size: responsive 40px 100px;
		font-range: 1024px 1920px;
	}
    &--big {
        font-size: responsive 40px 50px;
        font-range: 320px 1440px;
    }
    &--large {
        font-size: responsive 30px 40px;
        font-range: 1024px 1440px;
    }
    &--medium {
        font-size: responsive 25px 30px;
        font-range: 1024px 1440px;
    }
    &--small {
        font-size: 25px;
    }
    &--tiny {
        font-size: 18px;
    }
    &--black {
        color: var(--color-black);
    }
    &--white {
        color: var(--color-white);
	}
	&--blue {
        color: var(--color-blue);
	}
	&--w-light {
		font-weight: 300;
    }
    &--w-normal {
		font-weight: normal;
	}
    &--w-medium {
		font-weight: 500;
	}
	&--w-bold {
		font-weight: bold;
	}
	&--w-extra-bold {
		font-weight: 800;
	}
	&--w-black {
		font-weight: 900;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}

.title--indent {
    margin: 0 0 50px;
    @include tablet(margin, 0 0 30px);
}

.title--indent-large {
    margin: 0 0 100px;
    @include tablet(margin, 0 0 50px);
}

/* Text */

.text {
    font-family: var(--font-inter);
    font-style: normal;
    margin: 0;
	&--black {
		color: var(--color-black);
	}
	&--white {
		color: var(--color-white);
	}
	&--big {
        font-size: responsive 25px 30px;
        font-range: 320px 1440px;
	}
	&--large {
        font-size: responsive 20px 25px;
        font-range: 320px 1440px;
	}
	&--medium {
		font-size: responsive 16px 20px;
		font-range: 1024px 1440px;
	}
	&--normal {
        font-size: responsive 14px 16px;
        font-range: 1024px 1440px;
	}
	&--small {
		font-size: 12px;
	}
	&--tiny {
		font-size: 10px;
	}
	&--w-light {
		font-weight: 300;
	}
	&--w-regular {
		font-weight: normal;
	}
	&--w-medium {
		font-weight: 500;
	}
	&--w-bold {
		font-weight: 700;
    }
	&--w-black {
		font-weight: 900;
    }
    &--italic {
        font-style: italic;
    }
    &--uppercase {
		text-transform: uppercase;
	}
}