:root {
	--color-white: #FFFFFF;
	--color-black: #000000;
	--color-blue: #00A0E3;
	--color-green: #8ABC36;
	--color-dark-green: #73A51F;
    --font-inter: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}