.activity {
  background-image: url('../img/an-pic/bg-activity.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.activity__inner {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(300px, 340px) minmax(200px, 1fr);
  grid-gap: 20px;
  margin-top: 100px;
  @include mobile-block {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0;
  }
}

.activity__pic {
  @include mobile(display, none);
}

.activity__img {
  display: block;
}

.activity__left-col,
.activity__right-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mobile-block {
    justify-content: normal;
  }
}

.activity__left-col .activity__plunk {
  @include  mobile(text-align, left);
}

.activity__plunk:first-child {
  transform: translateY(-50%);
}

.activity__plunk:last-child {
  transform: translateY(50%);
}

.activity__plunk:first-child,
.activity__plunk:last-child {
  @include mobile-block {
    transform: translateY(0);
    margin-top: 20px;
  }
}

.activity__action {
  margin-top: 100px;
}