.another.another--main-page {
  position: relative;
}

.another.another--main-page .another__items {
  margin: 0 auto;
  flex-wrap: nowrap;
  gap: 60px;
  position: absolute;
  width: 100%;
  bottom: -180px;
  @include large(gap, 30px);
}

.another--mobile {
  display: none;
  @include tabletSM(display, block);
}

.another__items {
  display: flex;
  grid-gap: 100px;
  flex-wrap: wrap;
  justify-content: space-around;
  @include to(1366px) {
    grid-gap: 50px;
  }
}

.another__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  text-align: center;
  transform: scale(1);
  transition: transform .3s ease-in-out;
}

.another__item:hover {
  transform: scale(1.1);
}

.another__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  background: var(--color-white);
  border-radius: 50%;
  width: 136px;
  height: 136px;
}

.another.another--main-page .another__item .another__img-icon {
  filter: hue-rotate(115deg);
  opacity: 0.5;
  transition: transform .3s ease-in-out, filter .3s ease-in-out, opacity .3s ease-in-out;
}

.another.another--main-page .another__item .another__icon {
  @include tablet-block {
    width: 120px;
    height: 120px;
  }
}

.another.another--main-page .another__item:hover .another__img-icon {
  filter: hue-rotate(0);
  opacity: 1;
}

.another__item.tabs__button.is-active .another__img-icon {
  filter: hue-rotate(0);
  opacity: 1;
  transform: scale(1);
}

.another__img-icon {
  transform: scale(0.8);
  //filter: grayscale(1);
  filter: hue-rotate(115deg);
  opacity: 0.5;
  transition: transform .3s ease-in-out, filter .3s ease-in-out;
}

.another__item:hover .another__img-icon {
  transform: scale(.9);
  filter: hue-rotate(0);
  opacity: 1;
}

.another__title {
  margin-top: 25px;
}