.tribe-events-event-image img {
  width: 100%;
  height: auto;
}

#ect-no-events {
  text-align: center;
}

#ect-no-events p {
  display: inline-block;
  text-align: center;
  padding: 20px;
  background: linear-gradient(180deg, #8CDDFF 0%, #E4F7FF 100%), #FAEDD9;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}