.features__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 25px 24px;
}

.features__card {
  padding: 40px 46px;
  background: var(--color-blue);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  text-align: center;
  max-width: 477px;
  @include tablet(max-width, 100%);
}

.features__text-card {
  margin-top: 20px;
}