.footer {
  padding-bottom: 50px;
}

.footer__body {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mobile-block {
    flex-direction: column;
  }
}

.footer__menu-outer {
  align-self: flex-start;
  @include tablet(align-self, flex-end);
}

.footer__menu {
  @include large(font-size, 18px);
  @include tablet(display, none);
}

.footer__logo-text {
  max-width: 243px;
  margin-top: 50px;
}

.footer__info,
.footer__logo-wrapper {
  padding-top: 44px;
  text-align: center;
}

.footer__copy,
.footer__socials{
  margin-top: 130px;
}

.footer__socials {
  @include mobile(margin-top, 50px);
}

.footer__copy {
  @include tablet(display, none);
}

.footer__copy.footer__copy--mobile {
  display: none;
  margin-top: 50px;
  @include tablet(display, block);
}

.footer__socials {
  display: flex;
  align-items: center;
}

.footer__social-item {
  text-decoration: none;
  width: 30px;
  height: 30px;
}

.footer__social-item ~ .footer__social-item {
  margin-left: 17px;
}

.footer__social-img {
  display: block;
}