.news {
  padding: 100px 0 100px;
  @include mobileXS(padding, 50px 0 50px);
}

.news__inner {
  display: flex;
  grid-gap: 150px;
  @include large(grid-gap, 50px);
  @include tablet-block {
    flex-direction: column;
  }
}

.news__left-col,
.news__right-col {
  width: 100%;
}

.news__left-col .news__list .news__item ~ .news__item {
  margin-top: 50px;
}

.news__right-col .news__list .news__item ~ .news__item {
  margin-top: 40px;
}

.news__item.news__item--left {
  position: relative;
}

.news__item.news__item--left .news__pic {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
}

.news__link {
  text-decoration: none;
}

.news__pic {
  border-radius: 20px;
  overflow: hidden;
}

.news__item.news__item--left .news__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__item.news__item--left .news__title {
  position: absolute;
  left: 25px;
  bottom: 20px;
}

.news__img {
  display: block;
}

.news__item.news__item--right {
  display: grid;
  grid-template-columns: minmax(0,225px) minmax(0,1fr);
  align-items: center;
  @include mobileXS-block {
    grid-template-columns: 1fr;
  }
}

.news__item.news__item--right .news__img {
  width: 100%;
  height: 225px;
  object-fit: contain;
  object-position: center;
  @include mobile(height, auto);
}

.new__info {
  padding: 10px 0 10px 25px;
  @include mobileXS(padding, 15px 0 0 0)
}

.news__date,
.news__excerpt {
  margin-top: 15px;
}