.post__pic {
  overflow: hidden;
  border-radius: 10px;
}

.post__img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
}

.post__info {
  margin-top: 50px;
}