.slider-cards__outer {
  position: relative;
}

.slider-cards__swiper-container.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.slider-cards__swiper-wrapper.swiper-wrapper {
  padding: 10px;
}

.slider-cards__swiper-slide.swiper-slide {
  padding-right: 20px;
}

.slider-cards__swiper-slide.swiper-slide,
.slider-cards__swiper-slide.swiper-slide .plunk {
  height: 100%;
}

.slider-cards__nav {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 101;
  transform: translateY(-50%);
}

.slider-cards__slider-arrow {
  position: absolute;
  top: 52%;
  transform: translateY(-51%);
  cursor: pointer;
  z-index: 100;
  display: flex;
  align-items: center;
  border-radius: 3px;
  background: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  padding: 15px;
  transition: background .15s ease-in-out;
}

.slider-cards__slider-arrow:hover {
  background: var(--color-green);
}

.slider-cards__slider-arrow:hover .slider-cards__slider-arrow-svg {
  stroke: var(--color-white);
}

.slider-cards__slider-arrow-svg {
  stroke: var(--color-black);
  transition: stroke .15s ease-in-out;
}

.slider-cards__swiper-button-prev {
  left: -20px;
  @include to(1366px) {
    left: -15px;
  }
}

.slider-cards__swiper-button-next {
  right: -20px;
  @include to(1366px) {
    right: -15px;
  }
}