.slider-photo__inner {
  position: relative;
}

//.slider-photo__swiper-container.swiper-container {
//  width: 100%;
//  height: 100%;
//  margin-left: auto;
//  margin-right: auto;
//  overflow: hidden;
//}

.slider-photo--name {
  max-width: 846px;
}

.slider-photo__name {
  transition: transform .2s ease-in-out;
}

.slider-photo--picture {
  margin-top: 50px;
}

.slider-photo__swiper-slide.swiper-slide {
  height: 100%;
}

.slider-photo__slide-inner {
  height: 100%;
}

.slider-photo__descr,
.slider-photo__pic {
  margin-top: 50px;
  @include  tablet(margin-top, 30px);
}

.slider-photo__pic {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
}

.slider-photo__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.slider-photo__nav {
  display: flex;
  align-items: center;
  position: absolute;
  top: 59%;
  width: 100%;
  z-index: 101;
  transform: translateY(-59%);
  @include tablet-block {
    position: relative;
    transform: translateY(0);
    justify-content: center;
    grid-gap: 30px;
    margin-top: 20px;
  }
}

.slider-photo__slider-arrow {
  position: absolute;
  top: 52%;
  transform: translateY(-51%);
  cursor: pointer;
  z-index: 100;
  display: flex;
  align-items: center;
  border-radius: 3px;
  background: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  padding: 15px;
  transition: background .15s ease-in-out;
  @include tablet-block {
    position: static;
    transform: translateY(0);
  }
}

.slider-photo__slider-arrow:hover {
  background: var(--color-green);
}

.slider-photo__slider-arrow:hover .slider-photo__slider-arrow-svg {
  stroke: var(--color-white);
}

.slider-photo__slider-arrow-svg {
  stroke: var(--color-black);
  transition: stroke .15s ease-in-out;
}

.slider-photo__swiper-button-prev {
  left: -20px;
  @include to(1366px) {
    left: -15px;
  }
}

.slider-photo__swiper-button-next {
  right: -20px;
  @include to(1366px) {
    right: -15px;
  }
}

.slider-photo__post-text {
  margin-top: 50px;
}

.slider-photo__action {
  margin-top: 50px;
}