.slider-main {
  padding: 130px 0 50px;
  @include large(padding, 50px 0);
}

.slider-main__swiper-wrapper.swiper-wrapper {
  align-items: stretch;
}

.slider-main__swiper-slide .swiper-slide {
  height: auto;
}

.slider-main__slide-card {
  display: grid;
  grid-template-columns: minmax(300px, 650px) minmax(500px, 1fr);
  align-items: center;
  justify-content: space-around;
  height: 100%;
  @include tabletSM-block {
    grid-template-columns: 1fr;
    flex-direction: row;
  }
}

.slider-main__slide-info,
.slider-main__slide-pic {
  @include tabletSM-block {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}


.slider-main__slide-descr {
  margin-top: 20px;
}

.slider-main__button {
  margin-top: 50px;
}

.slider-main__slide-img {
  display: block;
}

.slider-main__slide-pic {
  @include tabletSM-block {
    position: relative;
    z-index: -1;
    opacity: 0.2;
  }
}

.slider-main__pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100%;
}

.slider-main__bullet {
  display: inline-block;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: #D2D2D2;
  transform: scale(1);
  transition: border .2s ease-in-out, transform .2s ease-in-out;
}

.slider-main__bullet:hover {
  transform: scale(1.2);
  background: var(--color-green);
  //border: 1px solid var(--color-white-low-75);
}

.slider-main__bullet--active {
  transform: scale(1.2);
  background: var(--color-green);;
}

.slider-main__bullet ~ .slider-main__bullet {
  margin-left: 20px;
}