.slider-video__outer {
  position: relative;
}

.slider-video__swiper-slide.swiper-slide {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  overflow: hidden;
}

.slider-video__slide-inner {
  position: relative;
  width: 100%;
  padding-top: 56%;
  height: 0;
}

.slider-video__wrapper {
  inset: 0;
  position: absolute;
}

.slider-video__wrapper iframe {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.slider-video__post-text,
.slider-video__action {
  margin-top: 50px;
}