.slider-cards__outer {
  position: relative;
}

.slider-cards__swiper-container.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.slider-cards__swiper-wrapper.swiper-wrapper {
  padding: 10px;
}

.slider-cards__swiper-slide.swiper-slide {
  padding-right: 20px;
}

.slider-cards__swiper-slide.swiper-slide,
.slider-cards__swiper-slide.swiper-slide .plunk {
  height: 100%;
}