.top-screen__inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 30px;
  align-items: center;
  @include mobile-block {
    grid-template-columns: 1fr;
    grid-gap: 45px;
  }
}

.top-screen__subheading {
  margin-top: 60px;
}

.top-screen__descr {
  margin-top: 60px;
}

.top-screen__img {
  display: block;
}

.top-screen__actions {
  margin-top: 90px;
}
