
<section class="invite block-padding-small bg--light-blue">
    <div class="invite__body container">
        <h2 class="invite__heading title title--medium title--black title--w-bold title--indent center">
            {{ title_invite }}
        </h2>
        <p class="invite__description text text--large text--black text--w-light center">
            Заполняй заявку и участвуй в лучших мероприятиях
        </p>
        <div class="invite__action center">
            <a href="#invite" class="invite__btn button button--primary">
                Присоединиться
            </a>
        </div>
    </div>
</section>