<!-- Top-screen -->
<section class="top-screen block-padding-large">
    <div class="top-screen__body container">
        <div class="top-screen__inner">
            <div class="top-screen__text">
                <h1 class="top-screen__heading title title--big title--black title--w-bold">
                    {{ title }}
                </h1>
                <h2 class="top-screen__subheading title title--large title--black title--w-bold">
                    {{ subtitle }}
                </h2>
                <p class="top-screen__descr text text--large text--black text--w-light">
                    {{ description }}
                </p>
                <div class="top-screen__actions">
                    <a href="javascript:;" class="top-screen__btn button button--primary" data-hystmodal="#service">
                        Присоединиться
                    </a>
                </div>
            </div>
            <div class="top-screen__pic">
                <img src="img/pages/{{ image }}" class="top-screen__img">
            </div>
        </div>
    </div>
</section>
<!-- /. Top-screen-->